@model Practicante.Models.Postulante

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_CRUD.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro de que desea eliminar al postulante?</h3>
<div>
    <h4>Postulante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Apellido Paterno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoPaterno)
        </dd>

        <dt>
            Apellido Materno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoMaterno)
        </dd>

        <dt>
            Fecha de Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecNacimiento)
        </dd>

        <dt>
            Edad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            Numero de Documento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numDoc)
        </dd>

        <dt>
            Telefono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            Celular
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular)
        </dd>

        <dt>
            Pais
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

        <dt>
            Direccion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            Correo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            Carrera
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrera.descripcion)
        </dd>

        <dt>
            Ciudad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.descripcion)
        </dd>

        <dt>
            Estado Civil
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil.descripcion)
        </dd>

        <dt>
            Estudios
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudio.descripcion)
        </dd>

        <dt>
            Genero
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.descripcion)
        </dd>

        <dt>
            Tipo de Documento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDoc.tipoDocumento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
