@model IEnumerable<Practicante.Models.Postulante>

@{
    ViewBag.Title = "Registro Postulante";
    Layout = "~/Views/Shared/_Layout_CRUD.cshtml";
}

<h2>Postulantes</h2>

<p>
    @Html.ActionLink("Registrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido Paterno
        </th>
        <th>
            Apellido Materno
        </th>
        <th>
            Edad
        </th>
        <th>
            Numero de documento
        </th>
        <th>
            Celular
        </th>
        <th>
            Direccion
        </th>
        <th>
            Correo
        </th>
        <th>
            Genero
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numDoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
